<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    {{ partial "head.html" . }}

    {{ $options := (dict "targetPath" "css/404.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/404.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <a href="#main" class="skip-link">Skip to main content</a>

  {{ partial "header.html" . }}

  <main id="main">
    <div id="message">
      <h1 id="title">404 Page Not Found</h1>
      <p>Click on one of the following to hop back in.</p>
      <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/book/">Documentation Root</a></li>
          <li><a href="/book/doc/getting_started/">Getting Started Guide</a></li>
          <li><a href="/dashboard/">Dashboard</a></li>
      </ul>
    </div>
  </main>

  {{ partial "footer.html" . }}

  <script src="/js/theme-changer.js"></script>
  <script>
    // Enable JS features
    document.documentElement.classList.remove('no-js');
  </script>
</body>

</html>
