# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Use custom registry for overrides and default to BCR for the others.
common --registry=file:///%workspace%/registry --registry=https://bcr.bazel.build

import .bazelrc.common
