# cdc
hw/top_*/cdc/chip*cdc*.hjson cdc dvsim
hw/top_*/cdc/*.tcl           cdc
hw/cdc/tools/*/run-cdc.tcl   cdc
hw/cdc/tools/dvsim/cdc.mk    cdc dvsim
hw/cdc/tools/dvsim/*.hjson   cdc dvsim

# rdc: handles as CDC
hw/top_*/rdc/chip*rdc*.hjson cdc dvsim
hw/top_*/rdc/*.tcl           cdc
hw/rdc/tools/*/run-rdc.tcl   cdc
hw/rdc/tools/dvsim/rdc.mk    cdc dvsim
hw/rdc/tools/dvsim/*.hjson   cdc dvsim

# doc
/doc/   doc
**/*.md doc

hw/**/doc/*.md         doc
hw/**/doc/*.svg        doc
hw/**/doc/*.png        doc
hw/**/doc/*.jpg        doc
hw/**/data/*.prj.hjson doc

sw/**/*.md  doc
sw/**/*.svg doc
sw/**/*.jpg doc
sw/**/*.png doc

# Generated lock files
MODULE.bazel.lock linguist-generated=true
