# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# List of packages installed with apt on our reference Ubuntu platform.
#
# When updating this list, please keep the yum package requirements for
# RHEL/CentOS 7 in sync. These were derived from the Ubuntu requirements
# and are maintained in yum-requirements.txt.
#
# Keep it sorted.
autoconf
bison
brotli
build-essential
clang-format
cmake
curl
doxygen
flex
g++
git
golang
hugo
lcov
libelf1
libelf-dev
libftdi1-2
libftdi1-dev
# A requirement of the prebuilt clang toolchain.
libncursesw5
libpcsclite-dev
libssl-dev
libudev-dev
libusb-1.0-0
lld
lsb-release
make
ninja-build
perl
pkgconf
python3
python3-pip
python3-setuptools
python3-urllib3
python3-wheel
srecord
tree
xsltproc
zlib1g-dev
xz-utils
