[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = OpenTitan: Open source silicon root of trust
[access "refs/*"]
	owner = group user/Garret Kelly (gkelly)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Garret Kelly (gkelly)
	label-Verified = -1..+1 group user/Garret Kelly (gkelly)
	push = group user/Garret Kelly (gkelly)
	read = group user/Garret Kelly (gkelly)
	rebase = group user/Garret Kelly (gkelly)
	removeReviewer = group user/Garret Kelly (gkelly)
	submit = group user/Garret Kelly (gkelly)
[access "refs/heads/*"]
	create = group user/Garret Kelly (gkelly)
	push = +force group user/Garret Kelly (gkelly)
	pushMerge = group user/Garret Kelly (gkelly)
	read = group user/Garret Kelly (gkelly)
[access "refs/tags/*"]
	push = group user/Garret Kelly (gkelly)
	push = +force group user/Garret Kelly (gkelly)
