antlr4-python3-runtime==4.8
anytree==2.2.1
argcomplete==1.12.3
attrs==21.2.0
beautifulsoup4==4.9.3
blessed==1.19.1
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
crcmod==1.7
cssselect==1.1.0
cssutils==2.3.0
edalize==0.2.4
enlighten==1.10.1
fastjsonschema==2.15.3
flake8==3.9.2
fusesoc==1.12
gitdb==4.0.7
gitpython==3.1.14
hjson==3.0.2
idna==2.10
iniconfig==1.1.1
isort==5.8.0
jinja2==2.11.3
jsonschema==3.2.0
