# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Board configuration file: the Darjeeling chip in a Verilator simulation

source [find util/openocd/interface/sim-jtagdpi.cfg]
source [find util/openocd/target/lowrisc-darjeeling.cfg]

# Increase timeouts in simulation
riscv set_command_timeout_sec 120
