@import "reset";
@import "variables";
@import "base";
@import "sections";
@import "main-header";
@import "intro";
@import "benefits";
@import "features";
@import "partners";
@import "footer";
@import "scheme-toggle";
@import "tiny-slider";

*:focus {
  outline: none;
}

#main {
  display: grid;
  height: 80vh
}

#message {
  margin: auto;
  height: 20em;
  width: 20em;
}

#main a {
  color: white;
}
