.tiles__wrapper {
    width: 100%;
}

.tiles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 90vw;
  padding: 0.8em;
  gap: 0.8em;
  max-width: 50em;
  border-radius: 0.5em;
  margin: auto;

  opacity: 0.8;
  background: var(--rainbow);
}

.tile {
  display: grid;
  justify-content: center;
  align-items: center;

  border-radius: 0.3em;
  padding: 0.5em;

  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  background: var(--background);
  color: var(--text-color);
}

.tile:visited {
    color: var(--text-color);
}

.tile:hover {
    background: var(--background-hover);
}
