main {
    background: var(--background);
    color: var(--text-color);
    padding: 0.75em $m-s;
}

.content {
    margin: 0 auto;
    max-width: $max-width-s;
}

/* Get the default margins back for these elements */
h1, h2, h3, h4, p, li, figure {
    margin: revert;
}

a { color: var(--text-third); }
a:visited { color: var(--text-second); }
