body {
  color: #68688B;
  font-family: 'Ubuntu', sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
}

h1, h2, h3 {
  color: #3D1067;
  font-family: 'Livvic', sans-serif; 
}

table {
  border: 1px solid black;
}
