# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Target configuration for the lowRISC "Earl Grey" FPGA memory backdoor loader.
# The backdoor loader exposes a DMI, but not a full RISC-V debug module.

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
   set  _CHIPNAME fpga_backdoor
}

if { [info exists CPUTAPID ] } {
   set _CPUTAPID $CPUTAPID
} else {
   # Defined in `hw/ip/bkdr_loader/rtl/bkdr_loader_pkg.sv`.
   set _CPUTAPID 0x03000cdf
}

jtag newtap $_CHIPNAME tap -irlen 5 -expected-id $_CPUTAPID -ignore-bypass
set _TARGETNAME $_CHIPNAME.tap
# We do not define targets because those interfere with raw DMI operations.
