<div class="tiles__wrapper">
  <div class="tiles__container">
    <a class="tile" id="doc-qa-hw" href="/book/hw#top" title="Hardware">HW</a>
    <a class="tile" id="doc-qa-sw" href="/book/sw#top" title="Software">SW</a>
    <a class="tile" id="doc-qa-security" href="/book/doc/security#top" title="Security">Security</a>
    <a class="tile" id="doc-qa-tools" href="/book/util#top" title="Tooling">Tooling</a>
    <a class="tile" id="doc-qa-governance" href="/book/doc/project_governance#top" title="Governance">Governance</a>
    <a class="tile" id="doc-qa-use-cases" href="/book/doc/use_cases#top" title="Use-Cases">Use-Cases</a>
  </div>
</div>
