.markdown {
  flex-grow: 999;
  flex-basis: 10em;
  min-width: 65%;
  max-width: 100%;
  overflow-x: auto;
  padding: $m-s;
  line-height: 1.778;

  > * + * {
    margin-top: 1em;
  }

  h1 {
    padding-top: 0.5em;
    font-family: 'Livvic', sans-serif;
    font-size: 2.5em;
    line-height: 1.28;
    font-weight: 300;
    margin-bottom: .4em;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }

  h1.title {
    font-size: 2.5em;
    border: none !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: bold !important;
  }

  h2 {
    font-size: 1.375em;
    font-weight: 700;
    margin-bottom: 0.6363em;
  }

  h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  p {
    @extend .bodytext;
    font-size: inherit;
  }

  a {
    color: $dark-purple;
    color: var(--text-color);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      outline: 1px dashed;
      outline-offset: 0.3em;
    }
  }

  img, svg {
    max-width: 100%;
    background: #fff;
  }

  table {
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;

    td, th {
      vertical-align: top;
      border: 1px solid var(--text-second);
      padding: 0.5em;
    }

    th {
      font-weight: bold;
    }
  }

  pre {
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: pre-wrap;
    padding: 0.5em;
  }

  ul, ol {
    padding-left: 1em;

    > li + li {
      margin-top: 0.5em;
    }

    ul,
    ol {
      margin-top: 0.5em;
    }
  }

  br + br {
    display: none;
  }
}

.overflow-table {
  width: 100%;
  overflow-x: auto;
}

.regpic {
  width: 100%;
}

table.regdef {
  border: 2px solid $dark-purple;
  border: 2px solid var(--text-color);
}

// Dashboard design
table.hw-project-dashboard {
    thead th {
        vertical-align: middle;
    }

    td {
        vertical-align: middle;

        &.dv-plan, &.version {
            text-align: center;
        }

        &.hw-stage {
            text-align: center;
            border-style: solid none;
        }
    }
}

/* Callouts */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-color: rgb(238, 238, 238);
  border-left-width: 1px;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout h5 {
  font-size: 1.25em;
  margin:0;
}
.bd-callout-warning {
  border-left-color: #f0ad4e;
}
.bd-callout p:last-child {
  margin-bottom: 0;
}
