.menu {
  width: 17em;
  flex-grow: 1;
  flex-shrink: 0;
  padding: $m-s;
  font-size: 1em;
  border-right: 1px solid $medium-purple;
  border-right: 1px solid var(--text-second);

  > ul > li {
    font-size: 0.875em;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1em;
    display: block;
  }

  > ul > li > ul li {
    margin-left: 1em;
    margin-top: 0.75em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.25em;
  }

  a {
    color: $dark-purple;
    color: var(--text-color);
    line-height: 1.2;

    &:hover,
    &:focus {
      color: var(--text-second);
      text-decoration: underline;
    }

    &:focus {
      outline: 1px dashed;
      outline-offset: 0.3em;
    }
  }

  a.active {
    font-weight: bold;
  }

  ul.parent {
    display: none;
  }

  ul.ancestor {
    display: block;
  }

  a.section {
    text-decoration: underline;
  }

  a.ancestor {
    text-decoration: underline;
  }

}

@media print, only screen and (max-width: 65rem) {
  .menu {
    display: none;
  }
}
