.parents {
  font-size: 1em;

  li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 0.4em;
    margin-top: 1em;
  }

  ul {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  a {
    color: $dark-purple;
    color: var(--text-color);
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      outline: 1px dashed;
      outline-offset: 0.3em;
    }
  }

}

@media print {
  .parents {
    display: none;
  }
}
