.light-bg {
  background: $white;
  color: $dark-purple;
  background: var(--background);
  color: var(--text-color);

  .bodytext {
    transition: color 0.5s ease;
  }

  transition: color 0.2s ease;
}
