<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    {{ partial "head.html" . }}

    {{ $options := (dict "targetPath" "css/single.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/single.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  {{ partial "header.html" . }}

  <main id="main" role="main" class="main-body light-bg">
    <div class="content">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </main>

  {{ partial "footer.html" . }}

  <script src="/js/theme-changer.js"></script>

  <script>
    // Enable JS features
    document.documentElement.classList.remove('no-js');
  </script>
</body>

</html>
