# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: FPGA test
on:
  workflow_call:
    inputs:
      job_name:
        required: true
        type: string
        description: Name of the job
      bitstream:
        required: true
        type: string
        description: Bitstream to use
      board:
        required: true
        type: string
        description: FPGA board to use
      branch:
        default: "${{ github.ref }}"
        type: string
        description: Branch to checkout
      interface:
        required: true
        type: string
        description: opentitantool interface to use
      timeout:
        default: 60
        type: number
        description: Timeout for the job in minutes
      vivado_version:
        default: "2021.1"
        type: string
      cache_test_results:
        default: true
        type: boolean
        description: Skip tests that previously passed and were cached by Bazel
      upload_to_bucket:
        default: false
        type: boolean
        description: Whether to upload FPGA results to Google Cloud Bucket
      bucket_job_folder_name:
        default: "fpga"
        type: string
        description: Google Cloud Bucket folder name for uploaded test results

jobs:
  fpga:
    name: FPGA test
    runs-on: [ubuntu-22.04-fpga, "${{ inputs.board }}"]
    timeout-minutes: ${{ inputs.timeout }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Prepare environment
        uses: ./.github/actions/prepare-env
        with:
          service_account_json: "${{ secrets.BAZEL_CACHE_CREDS }}"
      - name: Download bitstream
        uses: ./.github/actions/download-partial-build-bin
        with:
          job-patterns: ${{ inputs.bitstream }}

      - name: Update hyperdebug firmware
        if: inputs.interface == 'hyper310' || inputs.interface == 'cw340'
        run: |
          ./bazelisk.sh run \
              //sw/host/opentitantool:opentitantool -- \
              --interface=hyperdebug_dfu transport update-firmware

      - name: Execute tests
        run: |
          . util/build_consts.sh
          module load "xilinx/vivado/${{ inputs.vivado_version }}"

          # TODO
          echo "" > target_pattern_file.txt

          cache_test_results="--cache_test_results=${{ inputs.cache_test_results }}"

          # Run FPGA tests
          if [[ -s target_pattern_file.txt ]]; then
            ci/scripts/run-fpga-tests.sh "${{ inputs.interface }}" target_pattern_file.txt "$cache_test_results" || {
              res=$?; echo "To reproduce failures locally, follow the instructions at https://opentitan.org/book/doc/getting_started/setup_fpga.html#reproducing-fpga-ci-failures-locally"; exit "${res}";
            }
          else
            echo "No tests to run after filtering"
          fi

      - uses: actions/checkout@v4
        if: ${{ !cancelled() }}
        with:
          ref: ${{ github.ref }}
          path: "upload-branch"
          fetch-depth: 1

      - name: Publish Bazel test results
        uses: ./upload-branch/.github/actions/publish-bazel-test-results
        if: ${{ !cancelled() }}
        with:
          artifact-name: ${{ inputs.job_name }}-test-results
          upload-to-bucket: ${{ inputs.upload_to_bucket }}
          bucket-job-folder-name: ${{ inputs.bucket_job_folder_name }}
          branch: ${{ inputs.branch }}

      - name: Upload target pattern file
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: ${{ inputs.job_name }}-targets
          path: target_pattern_file.txt
